body {
    margin: 8px auto;
    background: #fff;
    width: 700px;
    font-family: helvetica;
    font-size: 15px;
    letter-spacing: 1.5px;
}

main {
    padding: 12px;
    font-size: 12px;
    letter-spacing: 1.5px;
}

table,
th,
td {
    border: 1px solid #1a4b4f;
    padding: 10px;
}

header {
    background-color: #3fb8c1;
    padding: 10px;
}

footer {
    background-color: #3fb8c1;
    padding: 10px;
}

/* NAVBAR */


.nav {
    text-transform: uppercase;
}

/* A- LINK */

a:link {
    color: black;
    text-decoration: underline;
}

a:hover {
    color: #d7a9e0;
    text-decoration: underline line-through;
}

a:active {
    color: #d7a9e0;
    text-decoration: underline line-through;
}

a:visited {
    color: black;
}

.number-right {
    text-align: right;
}

/* FORM FORM FORM
* kolla mer på htmlphp kmom06 css stylesheet
*/

.form {
    margin: 5px;
    width: 80%;
}

legend {
    font-size: 20px;
}

input[type=text] {
    width: 80%;
    padding: 5px;
    margin: 5px;
}
