<!doctype html>
<%- include("header", {title: title}); %>
<h1>WELCOME to banken </h1>

<p>What do you want to do?</p>

<ul>
    <li><a href="balance">View account balance</a></li>
</ul>
<%- include("footer"); %>
