<%- include("header", {title: title}); %>

<main>
<h1>Moved money to Adam</h1>

<p>You've just moved 1.5 pengar to Adam.
    He says thanks.</p>

<a href="balance">View account balance</a>

<br>

</main>
<%- include("footer"); %>
