
html {
    height: 100%;
}

body {
    margin: 8px auto;
    background-image: linear-gradient(#ff7272, #fff);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 65%;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    letter-spacing: 1.5px;
}

main {
    padding: 12px;
    font-size: 12px;
    letter-spacing: 1.5px;
    background-color: #fff;
    min-height: 800px;
}

table,
th,
td {
    border: 1px solid #210f0f;
    padding: 10px;
}

header {
    position: relative;
    height: 120px;
    padding: 10px;
    width: 100%;
}

footer {
    padding: 10px;
    width: 100%;
}

h1 {
    font-family: 'Slabo 27px', serif;
    font-size: 22px;
}

/* NAVBAR */

nav {
    position: absolute;
    bottom: 1em;
    text-transform: uppercase;
}

/* A- LINK */

a:link {
    color: black;
    text-decoration: underline;
}

a:hover {
    color: #ffe5dc;
    text-decoration: underline line-through;
}

a:active {
    color: #ffe5dc;
    text-decoration: underline line-through;
}

a:visited {
    color: black;
}

.number-right {
    text-align: right;
}

/* FORM FORM FORM
* kolla mer på htmlphp kmom06 css stylesheet
*/

.form {
    margin: 5px;
    width: 80%;
}

legend {
    font-size: 20px;
}

input[type=text] {
    width: 80%;
    padding: 5px;
    margin: 5px;
}

/*  button
*/

button {
    background-color: #ff7272;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
