<%- include("header", {title: title}); %>
<main>
    <h1>WELCOME TO SUSHI COMPETION</h1>

<p>SUSHI SUSHI Sushi sushi txt sushi. text text sushi.</p>

<!-- <p>For all orders and order status <a href="orders-all"> Click here </a></p> -->
</main>
<%- include("footer"); %>
