<%- include("header", {title: title}); %>
<main>
    <h1>WELCOME TO ESHOP</h1>

<p>We've got alot of books. And other stuff as well.</p>


<ul>
    <li><a href="category">View product categories</a></li>
</ul>
</main>
<%- include("footer"); %>
