<%- include("header", {title: title}); %>
<main>
    <h1>WELCOME TO THE SHOP</h1>

<p>We've got alot of books. And other stuff as well.</p>
<br>
<br>

<p>To shop, please enter through your customer ID
<a href="customers"> SHOP </a></p>
<br>
<br>
<br>
<p>For all orders and order status <a href="orders-all"> Click here </a></p>
</main>
<%- include("footer"); %>
