<h1>Today is...</h1>

<p>The date and time is: <%= date %> </p>

med de nya taggarna  ? ejs!
det som är mellan kan vi skriva in variabler som är fördefinerade i den
route som visar vyn.

<a href="https://dbwebb.se/kunskap/grunderna-i-express-med-nodejs#viewfile">länk till en vy fil</a>
