<%- include("header", {title: title}); %>
<main>
    <h1>OM</h1>

<p>Detta är en en del av examinationstentan i databas.
<p>Jag som jobbat med detta heter Jennifer Lee och läser min andra termin på programmet Webbprogrammering på distans <a href="https://www.bth.se/utbildning/program/pagwg19h/">här</a>.</p>


</main>
<%- include("footer"); %>
