<%- include("header", {title: title}); %>
<main>
    <h1>Välkommen till Säpos hemliga avdelning.</h1>
    <p>Detta är superhemligt. Om du läser detta. Akta dig.</p>
<br>
<br>

<img class="big-img-center " src="/img/front.jpg">
<br>
<br>
<p>Skoja. Detta är resultatet av en examinationstenta.
<br>För mer information om denna tenta gå in på <a href="https://dbwebb.se/kurser/databas-v1/kmom10/tentamen/sapo"> dbwebb</a> och läs mer.</p>
<br>
<br>
<br>
<br>

</main>
<%- include("footer"); %>
